.task {
  background-color: aliceblue;
  border-radius: 3px;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  min-height: 5rem;
  color: var(--dark-grey);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bottomWrapper {
  display: flex;
  justify-content: space-between;
}

.status {
  font-size: small;
  background-color: var(--light-grey);
  padding: 0.25rem;
  border-radius: 3px;
}

.Planned {
  background-color: var(--light-grey);
}
.Ongoing {
  background-color: var(--ongoing);
}

.Done {
  background-color: var(--done);
}
